# Kopiere diese Datei zu "secrets.yaml" (im selben Ordner) und trage deine echten
# Werte ein. secrets.yaml NICHT in Git einchecken (siehe .gitignore).

wifi_ssid: "DeinWLANName"
wifi_password: "DeinWLANPasswort"
fallback_password: "mindestens8zeichen"
